* { 
	box-sizing: border-box; 
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0px;
}

.form {
	padding: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
	background-color: ghostwhite;
}

.form input {
	margin-right: 8px;
	width: 25%;
	height:30px;
}

input[type="number"] {
	width: 100px;
}

.btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 16px;
  height:30px;
  line-height:2px;
}

.main {
	padding: 16px;
	padding-left: 0px;
}

.results {
	padding: 0px;
	padding-left: 32px;
	list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
	width: 50%;
}

.item_container {
	margin: 8px;
}

.item {
	margin: 0px;
	margin-bottom: 8px;
}

.default_result {
	padding-left: 16px;
}

.item_link {
	width: 400px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

a {
	text-decoration: none;
}

.page_numbers {
	padding: 0px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
	background-color: ghostwhite;
}