* { 
	box-sizing: border-box; 
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0px;
}

.form {
	padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
	background-color: ghostwhite;
}

.form input {
	margin-right: 8px;
}

input[type="number"] {
	width: 100px;
}

.main {
	padding: 16px;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
	width: 50%;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
	background-color: ghostwhite;
}