<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMA Search Engine!</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

    <form class="form" action="/search" method="GET">
        {% if query %}
            <input id="query" type="text" value="{{ query }}" name="query">
            <input id="page-number" type="number" value="{{ page }}" name="page">
        {% else %}
            <input id="query" type="text" placeholder="Type here..." name="query">
            <input id="page-number" type="number" placeholder="page" name="page">
        {% endif %}
        <button class="btn" type="submit">
            Search!
        </button>
    </form>

    <main class="main">
        {% if results %}
            <ul class="results">
                {% for item in results %}
                    <li class="item_container">
                        <h4 class="item item_link">{{ item.link }}</h4>
                        <a class="item" href="{{ item.link }}">{{ item.title }}</a>
                        <p class="item">{{ item.desc }}</p>
                        <small>google index: {{ item.google_index }}</small>
                        <small>yahoo index: {{ item.yahoo_index }}</small>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="default_result">
                results will be shown here...!
            </p>
        {% endif %}
    </main>
    
    <footer class="footer"> 
        <p>
            Designed and Implemented by EMA!
        </p>
    </footer>
</body>
</html>