<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMA Search Engine!</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

    <form class="form" action="/search" method="GET">
        {% if query %}
            <input id="query" type="text" value="{{ query }}" name="query">
        {% else %}
            <input id="query" type="text" placeholder="Type here..." name="query">
        {% endif %}
        <button class="btn" type="submit">
            Search!
        </button>
    </form>

    <main class="main">
        {% if results %}
            <ul class="results">
                {% for item in results %}
                    <li class="item_container">
                        <h4 class="item item_link">{{ item.link }}</h4>
                        <a class="item" href="{{ item.link }}">{{ item.title }}</a>
                        <p class="item">{{ item.desc }}</p>
                        <small>google index: {{ item.google_index }}</small>
                        <small>yahoo index: {{ item.yahoo_index }}</small>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="default_result">
                results will be shown here...!
            </p>
        {% endif %}
    </main>
    
    <footer class="footer"> 
    <ul>
        <!-- previous page -->
    {% if page %}
        {% if page-1>=1 %}
        <li style="display:inline">
            <a href="{{ url_for('search', query=query, page=page-1, results=None) }}">Previous</a>
        </li>
        {% endif %}
        <!-- all page numbers -->
        {% if page<=6 %}
            {% for page_num in range(1,11) %}

                    <li style="display:inline">
                        <a href="{{ url_for('search', query=query, page=page_num, results=None) }}">{{ page_num }}</a>
                    </li>
            {% endfor %}
        {% else %}
            {% for page_num in range(page-5,page+5) %}

                <li style="display:inline">
                    <a href="{{ url_for('search', query=query, page=page_num, results=None) }}">{{ page_num }}</a>
                </li>
            {% endfor %}
        {% endif %}

        <!-- next page -->
        <li style="display:inline">
            <a href="{{ url_for('search', query=query, page=page+1, results=None) }}">Next</a></li>
    {% endif %}
    </ul>

        <p>
            Designed and Implemented by EMA!
        </p>
    </footer>
</body>
</html>